body {
    background-color: lightgray;
}

.main {
    background-color: lightgrey;
}

h1 {
    padding-bottom: 0.5em;
    margin-left: 1em;
}

hr {
    background-color: black;
    width: 85%;
}

.form > label{
    padding-left: 23.5em;
    color: black;
}

#Name {
    margin-left: 2.5em;
    border-radius: 5px;
}

#LastName {
    border-radius: 5px;
    margin-left: 0.5em;
}

#Username {
    border-radius: 5px;
    margin-left: 0.8em;
}

#Password {
    border-radius: 5px;
    margin-left: 1em;
}

.table-dark > th{
    color: black;
    text-align: center;
}

th > .btn-buy {
    border-radius: 10px;
    color:white;
    background-color: darkslategrey;
    
}

.btn-buy:hover {
    background-color: forestgreen;
}

.jumbotron > .btn {
    padding-top: 2em;
}

.jumbotron h1 {
    text-align: center;
}


.form .btn-update{
    margin-top: 3em;
    margin-left: 23em;
    margin-bottom: 0%;
}

.btn-update {
    border-radius: 10px;    
    color:white;
    margin: 10px;
    padding: 0.5em 1em;
    background-color: darkslategrey;
}

.btn-update:hover {
    background-color: forestgreen;
}

.btn-reset {
    border-radius: 10px;
    color:white;
    margin: 10px;
    padding: 0.5em 1em;
    background-color: darkslategrey;
}

.btn-reset:hover {
    background-color: forestgreen;
}
